In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

# Collect and Prepare Annual Data 2014

In [3]:
os.listdir(r"C:\Users\atarb\OneDrive\Desktop\data analysis w Python\Uber\Datasets")

['other-American_B01362.csv',
 'other-Carmel_B00256.csv',
 'other-Dial7_B00887.csv',
 'other-Diplo_B01196.csv',
 'other-Federal_02216.csv',
 'other-FHV-services_jan-aug-2015.csv',
 'other-Firstclass_B01536.csv',
 'other-Highclass_B01717.csv',
 'other-Lyft_B02510.csv',
 'other-Prestige_B01338.csv',
 'other-Skyline_B00111.csv',
 'Uber-Jan-Feb-FOIL.csv',
 'uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-janjune-15.csv',
 'uber-raw-data-janjune-15_sample.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [5]:
files= os.listdir(r"C:\Users\atarb\OneDrive\Desktop\data analysis w Python\Uber\Datasets") [-8:]
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-janjune-15.csv',
 'uber-raw-data-janjune-15_sample.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [6]:
# Remove 2015 data

files.remove('uber-raw-data-janjune-15.csv')
files.remove('uber-raw-data-janjune-15_sample.csv')
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [8]:
# Concatenate all the files in one .csv table

uber_14 = pd.DataFrame()
path = r"C:\Users\atarb\OneDrive\Desktop\data analysis w Python\Uber\Datasets"

for file in files:
    current_df = pd.read_csv(path + "/" + file)
    uber_14 = pd.concat([current_df, uber_14])

In [9]:
# Check duplicates

uber_14.duplicated().sum()

82581

In [10]:
 # Remove duplicated rows
    
uber_14.drop_duplicates(inplace=True)

In [11]:
uber_14.duplicated().sum()

0

In [12]:
# Check missing values

uber_14.isnull().sum()

Date/Time    0
Lat          0
Lon          0
Base         0
dtype: int64

In [13]:
uber_14.columns

Index(['Date/Time', 'Lat', 'Lon', 'Base'], dtype='object')

In [14]:
# Check data types

uber_14.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [15]:
uber_14['Date/Time'][0]

0    9/1/2014 0:01:00
0    5/1/2014 0:02:00
0    6/1/2014 0:00:00
0    7/1/2014 0:03:00
0    8/1/2014 0:03:00
0    4/1/2014 0:11:00
Name: Date/Time, dtype: object

In [16]:
# Change data type of final['Date/Time'] to datetime

uber_14['Date/Time'] = pd.to_datetime(uber_14['Date/Time'], format= '%m/%d/%Y %H:%M:%S')

In [17]:
uber_14['Date/Time'][0]

0   2014-09-01 00:01:00
0   2014-05-01 00:02:00
0   2014-06-01 00:00:00
0   2014-07-01 00:03:00
0   2014-08-01 00:03:00
0   2014-04-01 00:11:00
Name: Date/Time, dtype: datetime64[ns]